<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>스프링 부트 웹 서비스</title>
    <meta http-equiv="Content-Type" content="text/html: charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>spring boot Oauth login test</h1>
<div class="col-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            {{#userName}}
                로그인 사용자: <span id="user"> {{userName}}</span>
                <span hidden="hidden" id="email">{{userEmail}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                <a href="/members/mypage" class="btn btn-secondary active" role="button">Edit Detail</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">Naver Login</a>
                <a href="/oauth2/authorization/kakao" class="btn btn-warning" role="button">Kakao Login</a>
            {{/userName}}
        </div>
        <hr>
    </div>
    <br>
</div>

</body>
</html>
