<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>스프링 부트 웹 서비스</title>
    <meta http-equiv="Content-Type" content="text/html: charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>FINNI DEMO</h1>
<div class="col-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            {{#userName}}
                로그인 사용자: <span id="user"> {{userName}}</span>
                <span hidden="hidden" id="email">{{userEmail}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                <a href="/members/mypage" class="btn btn-secondary active" role="button">Edit Detail</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">Naver Login</a>
                <a href="/oauth2/authorization/kakao" class="btn btn-warning" role="button">Kakao Login</a>
            {{/userName}}
        </div>
        <hr>
    </div>
    <br>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                {{^userPocketMoney}}
                <li class="nav-item">
                    <a class="nav-link" href="/newPocketMoney">new 용돈노트</a>
                </li>
                {{/userPocketMoney}}
                {{^userPocketMoney}}
                <li class="nav-item">
                    <a class="nav-link" href="/PocketMoney">용돈노트</a>
                </li>
                {{/userPocketMoney}}
                <li class="nav-item">
                    <a class="nav-link" href="#">저금통</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">경제교실</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/PocketMoney">mypage</a>
                </li>
            </ul>
            <span class="navbar-text">
    </span>
        </div>
    </nav>
    <br>
</div>

</body>
</html>
